* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    height: 50rem;
}

body div {
    display: block;
}

.header {
    background-color: #2F7ED1;
    margin: 0;
    padding: 0;
    height: 10%;
}

.main {
    margin: 0;
    padding: 0;
    height: 84%;
}

main {
    height: 100%;
}

.footer {
    right: 0;
    left: 0;
    height: 6%;
    background-color: #2F7ED1;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
}

header > div {
    display: inline-block;
}

section {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
}

.div-main-list {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
}

.nav-main-list li {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
}

.nav-main-list a {
    color: white;
    padding: 0.35rem;
    border-radius: 0.13rem;
    text-decoration: none;
}

.nav-main-list a:hover {
    color: blue;
}

.nav-main-list a:active {
    color: red;
}

.logo {
    width: 5rem;
    position: absolute;
    left: 1rem;
    top: 0;
}

.left-section {
    width: 30%;
    border-right: solid #2F7ED1;
    border-right-width: 2%;
    justify-content: center;
}

.left-section img {
    display: block;
    padding: 0.5rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25%;
    border: 0.2rem solid #2F7ED1;
    border-radius: 5%;
    } 

.left-section a:hover img {
    opacity: .5;
    width: 90%;
  }

footer {
    height: inherit;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
  }

.right-section {
    width: 69.5%;
    border: 0;
    justify-content: center;
} 

.right-section #gallery {
    height: 100%;
    width: 100%;
    overflow:hidden;
    text-align:center;
} 

.right-section #gallery div {
    width:100%;
    height:100%;
    padding-top:10px; 
} 

.right-section #gallery div img {
    clear:both; 
    display:block; 
    margin:0 auto; 
    border:0;
    height: 85%;
    width: 75%;
} 

.right-section #gallery div h3 {
    padding:1rem 0 0 0; 
    margin:0; 
    font-size:1.8rem;
} 

.right-section #gallery div p {
    padding:0.5rem 0; 
    margin:0; 
    font-size:1.5rem; 
    line-height:1.8rem;
} 

#gallery .previous{ 
    display: inline;
    float: left;
    margin-left: 8rem;
    text-decoration: none;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    padding: 8px 16px;
    font-size:2rem; 
} 

#gallery .next{ 
    display: inline;
    float: right;
    margin-right: 8rem;
    text-decoration: none;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    padding: 8px 16px;
    font-size:2rem; 
}

#gallery .next:hover {
    background-color: #ddd;
    color: black;
  }

#gallery .previous:hover {
    background-color: #ddd;
    color: black;
}

#gallery .next:active {
    color: red;
}

#gallery .previous:active {
    color: red;
}
